<div style="color:navy; background-color:orange; font-size:16px;">Importing the dataset</div>

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup

<div style="color:navy; background-color:orange; font-size:16px;">Downloading the John Hopkins Covid 19 dataset</div>

In [2]:
#https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports
#!git clone https://github.com/CSSEGISandData/COVID-19.git

In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-01-2021.csv"
df = pd.read_csv(url, error_bad_lines = False)
US = df[df['Country_Region'] == "US"]
d = ['Admin2', 'FIPS', "Lat", "Long_", 'Case_Fatality_Ratio', 'Incident_Rate']
for to_be_deleted in d:
    del US[to_be_deleted]

In [4]:
US.head()

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Active,Combined_Key
649,Alabama,US,2021-01-02 05:22:33,4239,50,0,4189.0,"Autauga, Alabama, US"
650,Alabama,US,2021-01-02 05:22:33,13823,169,0,13654.0,"Baldwin, Alabama, US"
651,Alabama,US,2021-01-02 05:22:33,1517,33,0,1484.0,"Barbour, Alabama, US"
652,Alabama,US,2021-01-02 05:22:33,1854,46,0,1808.0,"Bibb, Alabama, US"
653,Alabama,US,2021-01-02 05:22:33,4693,63,0,4630.0,"Blount, Alabama, US"

In [5]:
np.unique(US['Last_Update'])

array(['2020-08-04 02:27:56', '2020-08-07 22:34:20',
       '2020-12-21 13:27:30', '2020-12-29 23:22:37',
       '2021-01-02 05:22:33', '2021-04-02 15:13:53'], dtype=object)

In [6]:
data = US.groupby(by=["Province_State"]).sum().reset_index()

<div style="color:navy; background-color:orange; font-size:16px;">All existing dates</div>

In [33]:
#storing all dates
from datetime import date, timedelta

d1 = date(2020,1,22)
d2 = date(2021,5,18)

#list containing all of the dates
dates = [d1 + timedelta(days=x) for x in range((d2-d1).days + 1)]
all_dates = []
#all_dates[0].day, all_dates[0].month, all_dates[0].year
for d in dates:
    if d.day < 10:
        day = "0"+str(d.day)
    else:
        day = str(d.day)
    if d.month <10:
        month = "0"+str(d.month)
    else:
        month = str(d.month)
    year = str(d.year)
    #print(month+"-"+day+"-"+year)
    all_dates.append(month+"-"+day+"-"+year)

In [36]:
#all_dates
#all_dates[0].day, all_dates[0].month, all_dates[0].year
#type(all_dates[0].day)

<div style="color:navy; background-color:orange; font-size:16px;">Downloading data corresponding to each particular date</div>

In [108]:
def store_df(index):
    """
    index in the all_dates
    """
    date = all_dates[index]
    url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/" + date + ".csv"
    df = pd.read_csv(url, error_bad_lines = False)
    #US = df[df['Country_Region'] == "US"]
    d = ['Admin2', 'FIPS', "Lat", "Long_", 'Case_Fatality_Ratio', 'Incident_Rate']
    for to_be_deleted in d:
        try:
            del US[to_be_deleted]
        except:
            pass
            #print(date)
    data = US.groupby(by=["Province_State"]).sum().reset_index()
    data.columns = ["Province_State", "C"+str(index), "D"+str(index), "R"+str(index), "A"+str(index)]
    return data
store_df(0) #date = "01-12-2021" first index in the all_dates list

              Province_State       C0     D0  R0         A0
0                    Alabama   365747   4872   0   360875.0
1                     Alaska    47019    206   0    46780.0
2                    Arizona   530267   9015   0   521252.0
3                   Arkansas   229442   3711   0   225731.0
4                 California  2365024  26504   0  2309915.0
5                   Colorado   337161   4873   0   332288.0
6                Connecticut   185708   5995   0   179713.0
7                   Delaware    58064   1065   0    57134.0
8           Diamond Princess       49      0   0       49.0
9       District of Columbia    29252    788   0    28464.0
10                   Florida  1323315  21673   0  1301642.0
11                   Georgia   677589  10958   0   666631.0
12            Grand Princess      103      3   0      100.0
13                      Guam     7326    122   0     7204.0
14                    Hawaii    22397    289   0    21733.0
15                     Idaho   141077   1436   0   139641.0
16                  Illinois   963389  17978   0   945411.0
17                   Indiana   517773   9468   0   509402.0
18                      Iowa   282980   3898   0   279082.0
19                    Kansas   230108   2892   0   227431.0
20                  Kentucky   265261   2623   0   262638.0
21                 Louisiana   315275   7488   0   307787.0
22                     Maine    24902    352   0    24550.0
23                  Maryland   280219   5942   0   274277.0
24             Massachusetts   375178  12423   0   362755.0
25                  Michigan   528621  13018   0   515603.0
26                 Minnesota   415302   5382   0   409920.0
27               Mississippi   218386   4816   0   213570.0
28                  Missouri   445019   5747   0   401764.0
29                   Montana    81555    961   0    80594.0
30                  Nebraska   167716   1668   0   166048.0
31                    Nevada   227046   3143   0   223903.0
32             New Hampshire    45932    759   0    43269.0
33                New Jersey   535043  19160   0   463701.0
34                New Mexico   144142   2502   0   141640.0
35                  New York   995816  38155   0   957661.0
36            North Carolina   539545   6748   0   532797.0
37              North Dakota    92770   1316   0    91461.0
38  Northern Mariana Islands      122      2   0      120.0
39                      Ohio   700380  13702   0   691418.0
40                  Oklahoma   291209   2489   0   288447.0
41                    Oregon   113909   1477   0   112432.0
42              Pennsylvania   652091  16155   0   635936.0
43               Puerto Rico    77054   1521   0    75533.0
44                 Recovered        0      0   0        0.0
45              Rhode Island    87949   1944   0    86172.0
46            South Carolina   307507   5296   0   302211.0
47              South Dakota    99164   1488   0    97676.0
48                 Tennessee   586802   6907   0   579895.0
49                     Texas  1782956  28359   0  1751342.0
50                      Utah   276612   1269   0   275343.0
51                   Vermont     7412    136   0     7276.0
52            Virgin Islands     2036     23   0     2013.0
53                  Virginia   354766   5081   0   349685.0
54                Washington   246752   3461   0   243291.0
55             West Virginia    87820   1361   0    86459.0
56                 Wisconsin   522523   5254   0   517269.0
57                   Wyoming    44409    438   0    43971.0

<div style="color:navy; background-color:orange; font-size:16px;">Merging the data corresponding to each date</div>

In [126]:
result = store_df(0)
for d in range(1, len(all_dates)):
    #print(all_dates[0])
    temp_df = store_df(d)
    #cols = temp_df.columns
    result = result.join(temp_df.set_index('Province_State'), on='Province_State')
    #print(result.columns)
    if d%50 == 0:
        print("Merging --- {}%".format(np.round(100/len(all_dates)*d),2))

Merging --- 10.0%
Merging --- 21.0%
Merging --- 31.0%
Merging --- 41.0%
Merging --- 52.0%
Merging --- 62.0%
Merging --- 72.0%
Merging --- 83.0%
Merging --- 93.0%

In [137]:
result

,Province_State,C0,D0,R0,A0,C1,D1,R1,A1,C2,...,R480,A480,C481,D481,R481,A481,C482,D482,R482,A482
0,Alabama,365747,4872,0,360875.0,365747,4872,0,360875.0,365747,...,0,360875.0,365747,4872,0,360875.0,365747,4872,0,360875.0
1,Alaska,47019,206,0,46780.0,47019,206,0,46780.0,47019,...,0,46780.0,47019,206,0,46780.0,47019,206,0,46780.0
2,Arizona,530267,9015,0,521252.0,530267,9015,0,521252.0,530267,...,0,521252.0,530267,9015,0,521252.0,530267,9015,0,521252.0
3,Arkansas,229442,3711,0,225731.0,229442,3711,0,225731.0,229442,...,0,225731.0,229442,3711,0,225731.0,229442,3711,0,225731.0
4,California,2365024,26504,0,2309915.0,2365024,26504,0,2309915.0,2365024,...,0,2309915.0,2365024,26504,0,2309915.0,2365024,26504,0,2309915.0
5,Colorado,337161,4873,0,332288.0,337161,4873,0,332288.0,337161,...,0,332288.0,337161,4873,0,332288.0,337161,4873,0,332288.0
6,Connecticut,185708,5995,0,179713.0,185708,5995,0,179713.0,185708,...,0,179713.0,185708,5995,0,179713.0,185708,5995,0,179713.0
7,Delaware,58064,1065,0,57134.0,58064,1065,0,57134.0,58064,...,0,57134.0,58064,1065,0,57134.0,58064,1065,0,57134.0
8,Diamond Princess,49,0,0,49.0,49,0,0,49.0,49,...,0,49.0,49,0,0,49.0,49,0,0,49.0
9,District of Columbia,29252,788,0,28464.0,29252,788,0,28464.0,29252,...,0,28464.0,29252,788,0,28464.0,29252,788,0,28464.0
10,Florida,1323315,21673,0,1301642.0,1323315,21673,0,1301642.0,1323315,...,0,1301642.0,1323315,21673,0,1301642.0,1323315,21673,0,1301642.0
11,Georgia,677589,10958,0,666631.0,677589,10958,0,666631.0,677589,...,0,666631.0,677589,10958,0,666631.0,677589,10958,0,666631.0
12,Grand Princess,103,3,0,100.0,103,3,0,100.0,103,...,0,100.0,103,3,0,100.0,103,3,0,100.0
13,Guam,7326,122,0,7204.0,7326,122,0,7204.0,7326,...,0,7204.0,7326,122,0,7204.0,7326,122,0,7204.0
14,Hawaii,22397,289,0,21733.0,22397,289,0,21733.0,22397,...,0,21733.0,22397,289,0,21733.0,22397,289,0,21733.0
15,Idaho,141077,1436,0,139641.0,141077,1436,0,139641.0,141077,...,0,139641.0,141077,1436,0,139641.0,141077,1436,0,139641.0
16,Illinois,963389,17978,0,945411.0,963389,17978,0,945411.0,963389,...,0,945411.0,963389,17978,0,945411.0,963389,17978,0,945411.0
17,Indiana,517773,9468,0,509402.0,517773,9468,0,509402.0,517773,...,0,509402.0,517773,9468,0,509402.0,517773,9468,0,509402.0
18,Iowa,282980,3898,0,279082.0,282980,3898,0,279082.0,282980,...,0,279082.0,282980,3898,0,279082.0,282980,3898,0,279082.0
19,Kansas,230108,2892,0,227431.0,230108,2892,0,227431.0,230108,...,0,227431.0,230108,2892,0,227431.0,230108,2892,0,227431.0
20,Kentucky,265261,2623,0,262638.0,265261,2623,0,262638.0,265261,...,0,262638.0,265261,2623,0,262638.0,265261,2623,0,262638.0
21,Louisiana,315275,7488,0,307787.0,315275,7488,0,307787.0,315275,...,0,307787.0,315275,7488,0,307787.0,315275,7488,0,307787.0
22,Maine,24902,352,0,24550.0,24902,352,0,24550.0,24902,...,0,24550.0,24902,352,0,24550.0,24902,352,0,24550.0
23,Maryland,280219,5942,0,274277.0,280219,5942,0,274277.0,280219,...,0,274277.0,280219,5942,0,274277.0,280219,5942,0,274277.0
24,Massachusetts,375178,12423,0,362755.0,375178,12423,0,362755.0,375178,...,0,362755.0,375178,12423,0,362755.0,375178,12423,0,362755.0
25,Michigan,528621,13018,0,515603.0,528621,13018,0,515603.0,528621,...,0,515603.0,528621,13018,0,515603.0,528621,13018,0,515603.0
26,Minnesota,415302,5382,0,409920.0,415302,5382,0,409920.0,415302,...,0,409920.0,415302,5382,0,409920.0,415302,5382,0,409920.0
27,Mississippi,218386,4816,0,213570.0,218386,4816,0,213570.0,218386,...,0,213570.0,218386,4816,0,213570.0,218386,4816,0,213570.0
28,Missouri,445019,5747,0,401764.0,445019,5747,0,401764.0,445019,...,0,401764.0,445019,5747,0,401764.0,445019,5747,0,401764.0
29,Montana,81555,961,0,80594.0,81555,961,0,80594.0,81555,...,0,80594.0,81555,961,0,80594.0,81555,961,0,80594.0
30,Nebraska,167716,1668,0,166048.0,167716,1668,0,166048.0,167716,...,0,166048.0,167716,1668,0,166048.0,167716,1668,0,166048.0
31,Nevada,227046,3143,0,223903.0,227046,3143,0,223903.0,227046,...,0,223903.0,227046,3143,0,223903.0,227046,3143,0,223903.0
32,New Hampshire,45932,759,0,43269.0,45932,759,0,43269.0,45932,...,0,43269.0,45932,759,0,43269.0,45932,759,0,43269.0
33,New Jersey,535043,19160,0,463701.0,535043,19160,0,463701.0,535043,...,0,463701.0,535043,19160,0,463701.0,535043,19160,0,463701.0
34,New Mexico,144142,2502,0,141640.0,144142,2502,0,141640.0,144142,...,0,141640.0,144142,2502,0,141640.0,144142,2502,0,141640.0
35,New York,995816,38155,0,957661.0,995816,38155,0,957661.0,995816,...,0,957661.0,995816,38155,0,957661.0,995816,38155,0,957661.0
36,North Carolina,539545,6748,0,532797.0,539545,6748,0,532797.0,539545,...,0,532797.0,539545,6748,0,532797.0,539545,6748,0,532797.0
37,North Dakota,92770,1316,0,91461.0,92770,1316,0,91461.0,92770,...,0,91461.0,92770,1316,0,91461.0,92770,1316,0,91461.0
38,Northern Mariana Islands,122,2,0,120.0,122,2,0,120.0,122,...,0,120.0,122,2,0,120.0,122,2,0,120.0
39,Ohio,700380,13702,0,691418.0,700380,13702,0,691418.0,700380,...,0,691418.0,700380,13702,0,691418.0,700380,13702,0,691418.0
40,Oklahoma,291209,2489,0,288447.0,291209,2489,0,288447.0,291209,...,0,288447.0,291209,2489,0,288447.0,291209,2489,0,288447.0
41,Oregon,113909,1477,0,112432.0,113909,1477,0,112432.0,113909,...,0,112432.0,113909,1477,0,112432.0,113909,1477,0,112432.0
42,Pennsylvania,652091,16155,0,635936.0,652091,16155,0,635936.0,652091,...,0,635936.0,652091,16155,0,635936.0,652091,16155,0,635936.0
43,Puerto Rico,77054,1521,0,75533.0,77054,1521,0,75533.0,77054,...,0,75533.0,77054,1521,0,75533.0,77054,1521,0,75533.0
44,Recovered,0,0,0,0.0,0,0,0,0.0,0,...,0,0.0,0,0,0,0.0,0,0,0,0.0
45,Rhode Island,87949,1944,0,86172.0,87949,1944,0,86172.0,87949,...,0,86172.0,87949,1944,0,86172.0,87949,1944,0,86172.0
46,South Carolina,307507,5296,0,302211.0,307507,5296,0,302211.0,307507,...,0,302211.0,307507,5296,0,302211.0,307507,5296,0,302211.0
47,South Dakota,99164,1488,0,97676.0,99164,1488,0,97676.0,99164,...,0,97676.0,99164,1488,0,97676.0,99164,1488,0,97676.0
48,Tennessee,586802,6907,0,579895.0,586802,6907,0,579895.0,586802,...,0,579895.0,586802,6907,0,579895.0,586802,6907,0,579895.0
49,Texas,1782956,28359,0,1751342.0,1782956,28359,0,1751342.0,1782956,...,0,1751342.0,1782956,28359,0,1751342.0,1782956,28359,0,1751342.0
50,Utah,276612,1269,0,275343.0,276612,1269,0,275343.0,276612,...,0,275343.0,276612,1269,0,275343.0,276612,1269,0,275343.0
51,Vermont,7412,136,0,7276.0,7412,136,0,7276.0,7412,...,0,7276.0,7412,136,0,7276.0,7412,136,0,7276.0
52,Virgin Islands,2036,23,0,2013.0,2036,23,0,2013.0,2036,...,0,2013.0,2036,23,0,2013.0,2036,23,0,2013.0
53,Virginia,354766,5081,0,349685.0,354766,5081,0,349685.0,354766,...,0,349685.0,354766,5081,0,349685.0,354766,5081,0,349685.0
54,Washington,246752,3461,0,243291.0,246752,3461,0,243291.0,246752,...,0,243291.0,246752,3461,0,243291.0,246752,3461,0,243291.0
55,West Virginia,87820,1361,0,86459.0,87820,1361,0,86459.0,87820,...,0,86459.0,87820,1361,0,86459.0,87820,1361,0,86459.0
56,Wisconsin,522523,5254,0,517269.0,522523,5254,0,517269.0,522523,...,0,517269.0,522523,5254,0,517269.0,522523,5254,0,517269.0
57,Wyoming,44409,438,0,43971.0,44409,438,0,43971.0,44409,...,0,43971.0,44409,438,0,43971.0,44409,438,0,43971.0

In [134]:
assert result.shape[1] == len(all_dates)*4 + 1

In [138]:
result.to_csv("CDAR.csv", sep='\t')

<div style="color:navy; background-color:orange; font-size:16px;">Confirmed cases</div>

In [146]:
Confirmed_names = ["C"+str(d) for d in range(len(all_dates))]
result[['Province_State'] + Confirmed_names].head()

,Province_State,C0,C1,C2,C3,C4,C5,C6,C7,C8,...,C473,C474,C475,C476,C477,C478,C479,C480,C481,C482
0,Alabama,365747,365747,365747,365747,365747,365747,365747,365747,365747,...,365747,365747,365747,365747,365747,365747,365747,365747,365747,365747
1,Alaska,47019,47019,47019,47019,47019,47019,47019,47019,47019,...,47019,47019,47019,47019,47019,47019,47019,47019,47019,47019
2,Arizona,530267,530267,530267,530267,530267,530267,530267,530267,530267,...,530267,530267,530267,530267,530267,530267,530267,530267,530267,530267
3,Arkansas,229442,229442,229442,229442,229442,229442,229442,229442,229442,...,229442,229442,229442,229442,229442,229442,229442,229442,229442,229442
4,California,2365024,2365024,2365024,2365024,2365024,2365024,2365024,2365024,2365024,...,2365024,2365024,2365024,2365024,2365024,2365024,2365024,2365024,2365024,2365024

<div style="color:navy; background-color:orange; font-size:16px;">Death cases</div>

In [147]:
Confirmed_names = ["D"+str(d) for d in range(len(all_dates))]
result[['Province_State'] + Confirmed_names].head()

,Province_State,D0,D1,D2,D3,D4,D5,D6,D7,D8,...,D473,D474,D475,D476,D477,D478,D479,D480,D481,D482
0,Alabama,4872,4872,4872,4872,4872,4872,4872,4872,4872,...,4872,4872,4872,4872,4872,4872,4872,4872,4872,4872
1,Alaska,206,206,206,206,206,206,206,206,206,...,206,206,206,206,206,206,206,206,206,206
2,Arizona,9015,9015,9015,9015,9015,9015,9015,9015,9015,...,9015,9015,9015,9015,9015,9015,9015,9015,9015,9015
3,Arkansas,3711,3711,3711,3711,3711,3711,3711,3711,3711,...,3711,3711,3711,3711,3711,3711,3711,3711,3711,3711
4,California,26504,26504,26504,26504,26504,26504,26504,26504,26504,...,26504,26504,26504,26504,26504,26504,26504,26504,26504,26504

<div style="color:navy; background-color:orange; font-size:16px;">Active cases</div>

In [148]:
Confirmed_names = ["A"+str(d) for d in range(len(all_dates))]
result[['Province_State'] + Confirmed_names].head()

,Province_State,A0,A1,A2,A3,A4,A5,A6,A7,A8,...,A473,A474,A475,A476,A477,A478,A479,A480,A481,A482
0,Alabama,360875.0,360875.0,360875.0,360875.0,360875.0,360875.0,360875.0,360875.0,360875.0,...,360875.0,360875.0,360875.0,360875.0,360875.0,360875.0,360875.0,360875.0,360875.0,360875.0
1,Alaska,46780.0,46780.0,46780.0,46780.0,46780.0,46780.0,46780.0,46780.0,46780.0,...,46780.0,46780.0,46780.0,46780.0,46780.0,46780.0,46780.0,46780.0,46780.0,46780.0
2,Arizona,521252.0,521252.0,521252.0,521252.0,521252.0,521252.0,521252.0,521252.0,521252.0,...,521252.0,521252.0,521252.0,521252.0,521252.0,521252.0,521252.0,521252.0,521252.0,521252.0
3,Arkansas,225731.0,225731.0,225731.0,225731.0,225731.0,225731.0,225731.0,225731.0,225731.0,...,225731.0,225731.0,225731.0,225731.0,225731.0,225731.0,225731.0,225731.0,225731.0,225731.0
4,California,2309915.0,2309915.0,2309915.0,2309915.0,2309915.0,2309915.0,2309915.0,2309915.0,2309915.0,...,2309915.0,2309915.0,2309915.0,2309915.0,2309915.0,2309915.0,2309915.0,2309915.0,2309915.0,2309915.0

<div style="color:navy; background-color:orange; font-size:16px;">Recovered cases</div>

In [149]:
Confirmed_names = ["R"+str(d) for d in range(len(all_dates))]
result[['Province_State'] + Confirmed_names].head()

,Province_State,R0,R1,R2,R3,R4,R5,R6,R7,R8,...,R473,R474,R475,R476,R477,R478,R479,R480,R481,R482
0,Alabama,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Alaska,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Arizona,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Arkansas,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,California,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<div style="color:navy; background-color:orange; font-size:16px;">The results for a particular state</div>

In [ ]:
def return_states(state):